[user]
  name = Scott Perkins
  email = scott.perkins@lrs.com
[core]
  editor = code
  editor = vi
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[merge]
  tool = p4merge
[diff]
  tool = p4merge
[mergetool "p4merge"]
  path = /Applications/p4merge.app/Contents/MacOS/p4merge
[difftool "p4merge"]
  path = /Applications/p4merge.app/Contents/MacOS/p4merge
[difftool]
  prompt = false
[mergetool]
  prompt = false
[alias]
  elog = log --oneline --decorate --graph
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  d = diff
  dc = diff --cached
